* {
	font-size: 20px;
	font-family: monospace;
}

window#waybar {
	background: #3D3043;
	color: #8C699A;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1a001a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #3D3043;
	background: #1a001a;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
	background: #1a001a;
}

#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a001a;
	border: #1a001a;
	padding: 0 3px;
}

#pulseaudio {
	color: #fdf6e3;
}
#memory {
	color: #2aa198;
}
#cpu {
	color: #6c71c4;
}
#battery {
	color: #6DBD6F;
}
#disk {
	color: #d6c962;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}
